<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Employee</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/get.js"></script>
    <script src="/post.js"></script>
</head>
<body>
<div id="postResultDiv" align="center"></div>
<div class="container">
    <h2>Employee form</h2>
    <form id="employeeForm">
        <div class="form-group">
            <label for="employeeId">Employee ID:</label>
            <input type="text" class="form-control" id="employeeId" placeholder="Enter employee ID" name="employeeId">
        </div>
        <div class="form-group">
            <label for="employeeName">Employee name:</label>
            <input type="text" class="form-control" id="employeeName" placeholder="Enter employee name" name="employeeName">
        </div>
        <div class="form-group">
            <label for="employeeSurname">Employee surname:</label>
            <input type="text" class="form-control" id="employeeSurname" placeholder="Enter employee surname" name="employeeSurname">
        </div>
        <div class="form-group">
            <label for="employeeSalary">Employee salary:</label>
            <input type="text" class="form-control" id="employeeSalary" placeholder="Enter employee salary" name="employeeSalary">
        </div>
        <div class="form-group">
            <label for="employeeJobTitle">Employee job title:</label>
            <input type="text" class="form-control" id="employeeJobTitle" placeholder="Enter employee job title" name="employeeJobTitle">
        </div>
        <div class="form-group form-check">
            <label class="form-check-label"> <input
                    class="form-check-input" type="checkbox" name="remember">
                Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div class="col-sm-7" style="margin: 20px 0px 20px 0px">
        <button id="getEmployees" type="button" class="btn btn-primary">Get employees</button>
        <div id="getResultDiv" style="padding: 20px 10px 20px 50px">
            <ul class="list-group">
            </ul>
        </div>
    </div>
</div>


<!--<div th:if="${!employees.isEmpty()}">-->
<!--    <a href="">Add new employee</a>-->
<!--    <table th:object="${employees}" id="userTable" border="1">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Name</th>-->
<!--            <th>Surname</th>-->
<!--            <th>JobTitle</th>-->
<!--            <th>Salary</th>-->
<!--            <th>Action</th>-->
<!--        </tr> -->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="employee :${employees}">-->
<!--            <td th:text="${employee.getId()}"></td>-->
<!--            <td th:text="${employee.getName()}"></td>-->
<!--            <td th:text="${employee.getSurname()}"></td>-->
<!--            <td th:text="${employee.getJobTitle()}"></td>-->
<!--            <td th:text="${employee.getSalary()}"></td>-->
<!--            <td>-->
<!--            <button onclick="">Delete</button>-->
<!--            <button onclick="">Edit</button>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
</body>
</html>